# Old build artifacts
# vwifi-server
# vwifi-client
# vwifi-ctrl
# vwifi-add-interfaces
# obj/

# CMake build artifacts
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile
*.a
*.so

# For cppcheck
vwifi-cppcheck.xml
# For eclipse :
.project
.cproject
.settings
# For Visual Studio Code :
.vscode
